.Container{
    display: flex; /* Enable Flexbox */
    justify-content: center; /* Center children horizontally */
    align-items: center; /* Center children vertically */
    height: 100vh;
}
.phase1{
    border: 5px solid black;
    height: 500px;
    width: 400px;
    background-color: aliceblue;
}
.phase2{
    border: 5px solid black;
    border-left: 0;
    height: 500px;
    width: 300px;
    background-color:beige;

}